body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    overflow-y: auto;
    transition: all 0.3s;
}

#page-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

.list-group-item {
    border: none;
}

.list-group-item-action:hover {
    background-color: #476584;
    color: #ffffff !important;
}

.sidebar-heading {
    padding: 10px 15px;
    font-size: 1.2rem;
    background: #333;
    text-align: center;
}
